# Python
__pycache__/
*.pyc

# Environment variables
.env
*.env

# Backend uploads
backend/uploads/

# Frontend dependencies
frontend/node_modules/

# Frontend build
frontend/dist/

# VS Code
.vscode/